@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Nabla&display=swap');

body{
    background-color: rgb(246, 250, 208);
    padding: 0; margin: 0; box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.span{
    font-size: 60px;
    margin-left: 30px;
    font-family: 'Honk', system-ui;
}


.nav{
    display: flex;
    background-color: rgb(49, 95, 219);
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    height: 155px;
    align-items: center;
    justify-content: space-between;
  
}

.foto{
    width: 200px;
    display: flex;
    justify-content: left;
    
    
}

.menu li {
    display: inline;
    padding: 20px;
}

.menu li a{
    text-decoration: none;
    font-size: 30px;
    color: rgb(246, 250, 208);
}

.div-nav{
    display: flex;
    align-items: center;
    font-size: 40px;
}

.m-200{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 80px;
}


.container{
    background-color: rgba(218, 206, 50, 0.445);
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;

}

.container .texto {
    flex-direction: column;
    font-size: 20px;
   
}

.foto-sobre{
    width: 300px;
    border-radius: 10px;
}


.video{
    text-align: center;
}

.footer{
    display: flex;
    background-color: rgb(134, 136, 134);
    padding: 20px;
    height: 155px;
    text-align: center; 
    justify-content: center;
    flex-direction: column;
}

.footer a img{
    width: 60px;
    display: inline;
    gap: 100px;
}

.footer-p{
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    color:rgb(246, 250, 208);
}

